.margin-top-70px
{
	margin-top:70px;
}

.register_main
{
	background-color:#EBEBEB;
}

.span_email
{
	color:red;
	display:none;
}
.span_password
{
	color:red;
	display:none;
}
.span_password_again
{
	color:red;
	display:none;
}

#email_exist
{
	display:none;
}
#email_exist span
{
	color:red;
}