<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
	<link rel="stylesheet" href="/static/css/hr_base.css">
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/js/account.js"></script>
    <title>{$Think.lang.admin_user_account}</title>
</head>
<body>
{include file="../application/index/view/public/header_admin.html" /}
<div class="container margin-top-50 main_div">
		<div class="row" style="margin-top:70px;height:800px;">

			<div class="col-xs-12 col-md-12"><h3>{$Think.lang.admin_user_account}<hr/></h3>			
			<span>姓名:</span><input type="text" id="search_user_name"></input>
			<button id="btn_search">{$Think.lang.button_search}</button><hr/></div>
			
			<div class="col-xs-2 col-md-2"><p>{$Think.lang.admin_user_account_user_name}</p></div>
			<div class="col-xs-3 col-md-2"><p>{$Think.lang.admin_user_account_mobile}</p></div>
			<div class="col-xs-3 col-md-2"><p>{$Think.lang.admin_user_account_status}</p></div>
			<div class="col-xs-3 col-md-3"><p>{$Think.lang.admin_user_account_role}</p></div>
			<div class="col-xs-3 col-md-3"><p>{$Think.lang.admin_user_account_operation}</p></div>
			{foreach $result as $item}
			<div class="col-xs-2 col-md-2"><p>{$item.user_name}</p></div>
			<div class="col-xs-3 col-md-2"><p>{$item.phone}</p></div>
			<div class="col-xs-3 col-md-2"><p>
			{if condition="$item.is_activated==1"}
			{$Think.lang.admin_user_account_status_verify}
			{elseif condition="$item.is_activated==2"}
			{$Think.lang.admin_user_account_status_freeze}
			{elseif condition="$item.is_activated==0"}
			{$Think.lang.admin_user_account_status_not_verify}
			{/if}
			</p></div>
			<div class="col-xs-3 col-md-3"><p>
			{if condition="$item.role==1"}
			{$Think.lang.admin_user_account_employee}
			{elseif condition="$item.role==2"}
			{$Think.lang.admin_user_account_employer}
			{elseif condition="$item.role==0"}
			{$Think.lang.admin_user_account_unkown}
			{/if}
			</p></div>
			<div class="col-xs-4 col-md-3">
				<p>
					<button class="account_edit" value="{$item.user_id}">{$Think.lang.button_edit}</button>
					<button class="account_freeze" value="{$item.user_id}">{$Think.lang.button_freeze}</button>
					<button class="account_enable" value="{$item.user_id}">{$Think.lang.admin_user_account_status_enable}</button>
				</p>
			</div>
			{/foreach}
		</div>

</div>
<!--body end-->

<!-- 冻结确认 -->  
<div class="modal fade" id="delcfmModel" val="">  
	<div class="modal-dialog">  
	  <div class="modal-content message_align">  
		<div class="modal-header">  
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>  
		  <h4 class="modal-title">提示信息</h4>  
		</div>  
		<div class="modal-body">  
		  <p>您确认要冻结吗？</p>  
		</div>  
		<div class="modal-footer">  
		   <input type="hidden" id="url"/>  
		   <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>  
		   <a  onclick="urlSubmit()" class="btn btn-success" data-dismiss="modal">确定</a>  
		</div>  
	  </div><!-- /.modal-content -->  
	</div><!-- /.modal-dialog -->  
 </div><!-- /.modal --> 
 
 <!-- 启用确认 -->  
<div class="modal fade" id="enablefmModel" val="">  
	<div class="modal-dialog">  
	  <div class="modal-content message_align">  
		<div class="modal-header">  
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>  
		  <h4 class="modal-title">提示信息</h4>  
		</div>  
		<div class="modal-body">  
		  <p>您确认要启用吗？</p>  
		</div>  
		<div class="modal-footer">  
		   <input type="hidden" id="url"/>  
		   <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>  
		   <a  onclick="enableSubmit()" class="btn btn-success" data-dismiss="modal">确定</a>  
		</div>  
	  </div><!-- /.modal-content -->  
	</div><!-- /.modal-dialog -->  
 </div><!-- /.modal --> 

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>