<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
	<link rel="stylesheet" href="/static/css/hr_base.css">
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/js/match_list.js"></script>
    <title>{$Think.lang.admin_login_title}</title>
</head>
<body>
{include file="../application/index/view/public/header_admin.html" /}
<div class="container margin-top-50 main_div">
		<div class="row" style="margin-top:70px;height:800px;">
			<div class="col-xs-12 col-md-12"><h3>{$Think.lang.admin_match_list}<hr/></h3></div>
			<div class="col-xs-2 col-md-1"><p>{$Think.lang.admin_match_list_emp_name}</p></div>
			<div class="col-xs-3 col-md-1"><p>{$Think.lang.admin_match_list_emp_landline}</p></div>
			<div class="col-xs-3 col-md-2"><p>{$Think.lang.admin_match_list_emp_job_vacancy}</p></div>
			<div class="col-xs-4 col-md-2"><p>{$Think.lang.admin_match_list_hunting_name}</p></div>
			<div class="col-xs-4 col-md-6"><p>{$Think.lang.admin_match_list_hunting_mobile}</p></div>
			{foreach $result as $item}
			<div class="col-xs-2 col-md-1"><p>{$item.employer_name}</p></div>
			<div class="col-xs-3 col-md-1"><p>{$item.employer_landline}</p></div>
			<div class="col-xs-3 col-md-2"><p>{$item.employer_job_vacancy}</p></div>
			<div class="col-xs-3 col-md-2"><p>{$item.hunting_name}</p></div>
			<div class="col-xs-3 col-md-2"><p>{$item.hunting_mobile}</p></div>
			<div class="col-xs-4 col-md-4">
				{if condition="$item.status==1"}
				<p>
					<button class="complete" value="{$item.match_id}">{$Think.lang.admin_match_list_complete}</button>
					<button class="cancel" value="{$item.match_id}">{$Think.lang.admin_match_list_cancel}</button>
				</p>
				{elseif condition="$item.status==2"}
				<p>{$Think.lang.admin_match_list_complete}</p>
				{/if}

			</div>
			{/foreach}
		</div>

</div>
<!--body end-->



<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>