<!DOCTYPE html>
<html>

<head>
    <script type="text/javascript">
        var change_password_tips = '{$Think.lang.mmcenter_password_password_changed}';
    </script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>-->
    <link rel="stylesheet" href="/static/css/hr_base.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/admin_modify_pwd.js"></script>
	<link rel="stylesheet" href="/static/css/register.css">
    <title>{$Think.lang.admin_login_title}</title>
</head>

<body>
    {include file="../application/index/view/public/header_admin.html" /}
    <!-- 修改密码 -->
    <div class="col-xs-12 col-md-12">

        <div>
            <h4>{$Think.lang.mmcenter_password_change_title}</h4>
        </div>
        <hr />
        <div class="col-xs-12 col-md-3">
            <p>{$Think.lang.mmcenter_password_origin} :
            </p>
        </div>
        <div class="col-xs-12 col-md-9">
            <p><input id="origin_password" type="password" name="origin_password" maxlength="12" />
                <span class="origin_password" style="color:red;display:none;">{$Think.lang.mmcenter_password_origin}</span>
            </p>
        </div>


        <div class="col-xs-12 col-md-3">
            <p>{$Think.lang.mmcenter_password_new_password} :
            </p>
        </div>
        <div class="col-xs-12 col-md-9">
            <p><input id="new_password" type="password" name="new_password" maxlength="12" />
                <span class="new_password" style="color:red;display:none;">{$Think.lang.register_password_error}</span>
            </p>
        </div>


        <div class="col-xs-12 col-md-3">
            <p>{$Think.lang.mmcenter_password_new_password_again} :
            </p>
        </div>
        <div class="col-xs-12 col-md-9">
            <p><input id="again_password" type="password" name="again_password" maxlength="12" />
                <span class="again_password" style="color:red;display:none;">{$Think.lang.register_password_again_error}</span>
            </p>
        </div>
        <div class="col-xs-12 col-md-9">
            <p>
                <span class="origin_password_error" style="color:red;display:none;">{$Think.lang.mmcenter_password_origin_error}</span>
            </p>
        </div>
        <div class="col-xs-11 col-md-8" style="text-align:center;"><button id="btn_change_password">{$Think.lang.button_submit}</button></div>
        <!--body end-->



        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>