<link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/hr_base.css">

<div class="hidden-xs hidden-sm col-md-12 footer-back">
	<div class="row"  style="height:100px;">
			<div class="col-md-2 margin-top-20">
				<a><h5>{$Think.lang.footer_div1}</h5></a>
				<a><h6>{$Think.lang.footer_div2}</h6></a>
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div>
	</div>
</div>